/*================================== START COMMON =================================*/
a {
	cursor: pointer !important;
}
/*================================== END COMMON ===================================*/

/*================================== START POST ===================================*/
.post-item {	
}
.post-item .post-header {	
}
.post-item .comment-list > .comment-item img.avatar {	
	max-width: 35px;
	max-height: 35px;
}
/*================================== END POST =====================================*/