/*================================== START COMMON =================================*/
a {
	cursor: pointer !important;
}

ul.dropdown-menu.action-options {
}
ul.dropdown-menu.action-options li {	
	border-bottom: none;
}
ul.dropdown-menu.action-options li a {	
	padding: 3px 10px;
	font-size: 12px;
}
ul.dropdown-menu.action-options li a i {	
	font-size: 11px;
}

#common-loading {
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 10;
    display: none;
    opacity: 0.9;
}
body.loading #common-loading {
	display: block;
}
#common-loading .spinner {
    background-color: #1abc9c;
    font-size: 12px;
    height: 36px;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 180px;
}
#common-loading .spinner > div {
    animation: 1.2s ease-in-out 0s normal none infinite stretchdelay;
    background-color: #fff;
    display: inline-block;
    height: 100%;
    margin-left: 3px;
    width: 6px;
}
#common-loading .spinner .text {
	color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    padding: 5px;
    vertical-align: top;
}

#common-loading .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
#common-loading .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
#common-loading .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
#common-loading .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*================================== END COMMON ===================================*/

/*================================== START POST ===================================*/
.post-item {
	position: relative;	
}
.post-item .post-header {	
}
.post-item .post-content {	
}
.post-item .post-content img {	
	max-width: 100%;
	height: auto;
	text-align: center;
	display: block;	
	cursor: zoom-in;
}

.post-item .comment-list > .comment-item img.avatar {	
	max-width: 35px;
	max-height: 35px;
}
.post-item .post-options {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 999;
}
.post-options .dropdown-toggle {
	display: block;
	padding: 4px 10px;
	text-align: center;
	vertical-align: middle;
}
.post-item .post-options .dropdown-toggle i {
	color: #BBB;
}
.post-item:hover .post-options .dropdown-toggle i {
	color: #25ad9f;
}

/*================================== END POST =====================================*/