/.htaccess.txt
/.project
/php.ini
/.settings
/.buildpath
/system/logs
/system/cache
/image/cache
/config.php
/admin/config.php
/object/proxy
/object/hydrator
/object/hydrator
/object/proxy
/object/repository
