/.htaccess.txt
/.project
/php.ini
/.settings
/.buildpath
/system/logs
/system/cache
/image/cache
/object/hydrator
/config.php
/admin/config.php
/object/repository
/object/hydrator
/object/proxy
/.htaccess

/image/data/catalog/user
/ajax/.htaccess
/system/twig
/image/data/upload
/image/data
/catalog/language/locale/vi/LC_MESSAGES/cache
/catalog/language/locale/vi_VN/LC_MESSAGES/cache
/catalog/language/locale/en-US/LC_MESSAGES/cache
