/.htaccess.txt
/.project
/php.ini
/.settings
/.buildpath
/system/logs
/system/cache
/image/cache
/object/hydrator
/config.php
/admin/config.php
/object/repository
/object/hydrator
/object/proxy
/.htaccess

/image/data/catalog/user
