body { 
  background: #000 url(../image/b-bg.png) repeat top left;
}

#y-login-header {
  margin: 0px auto;
  max-height: 100px;
  overflow: hidden;
  background: #000 url(../image/h-bg.png) repeat top left;
}

#y-login-header > div {
  margin: 0px auto;
  width: 980px;  
  padding: 20px 10px;
  overflow: hidden;
}

#y-login-header img.logo {
  float: left;
}

#y-login-header h3.welcome {
  color: #fff;
  float: left;
  font-size: 15px;
  margin: 23px 0px 0px 10px;  
}

#y-frm-password .frm-content {
  border-bottom: none;
  padding-left: 70px;
}

#y-frm-password .input-prepend span.add-on {
  width: 60px;
}

#y-frm-password .input-prepend span.add-on i {
  margin-right: 4px;
}

#y-frm-password .frm-content .btns {
  padding-left: 90px;
}