
#comment-box {
	position: fixed;
	right: -500px;
	top: 25px;
	bottom: 67px;
	background-color: #fff;
	width: 330px;
	z-index: 200;
	-webkit-box-shadow: -2px -2px 3px #ddd;
	 -moz-box-shadow: -2px -2px 3px #ddd;
	box-shadow: -2px -2px 3px #ddd;	
	font-size: 12px;
	overflow: hidden;
}

.comment-container {
	height: 100%;
	width: 100%;
	position: relative;
}

.y-box-header {
	padding: 5px 5px 5px 3px;
	font-weight: bold;
	padding-left: 20px;
	background: #009A76; 
	color: #fff;
}

.y-box-content {
	padding: 4px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	bottom: 120px;
}

.y-box-content .comment-item {
	overflow: hidden;
	margin-bottom: 3px;
}

.comment-item  .avatar_thumb img{
	width: 80%;
	height: 80%;
	vertical-align: middle;
	text-align: center;
}

.comment-item  .comment-info{
	font-weight: bold;
}

.comment-item  .comment-info  a {
	color: #009A76;
}

.comment-item  .comment-info  a:hover {
	color: #000;
}

.comment-item  .comment-info span.comment-time {
	font-size: 11px;
	font-style: italic;
}

.comment-item  .comment-content {

}

.comment-item .comment-footer {
	background: #f2f5f6;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 2px 2px 5px;
}

#comment-box .post_new {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;	
	background-color: #f4f4f4;
	overflow: hidden;
	margin-bottom: 0px;
}
#comment-box .post_new .comment-action{
	overflow: hidden;
}
#comment-box .post_new .comment-action a.fl {
	padding: 5px;
}

#comment-box .post_new .comment-action .comment-press-enter{
    padding:4px 10px 0px 0px;
}

#comment-box .post_new .comment-action .comment-press-enter span{
    margin-right: 5px;
}

