body { 
  background: #000 url(../image/b-bg.png) repeat top left;
}

#y-frm-login {
  margin: 70px auto; 
}

#y-login-header {
  margin: 0px auto;
  max-height: 100px;
  overflow: hidden;
  background: #000 url(../image/h-bg.png) repeat top left;
}

#y-login-header > div {
  margin: 0px auto;
  width: 980px;  
  padding: 20px 10px;
  overflow: hidden;
}

#y-login-header img.logo {
  float: left;
}

#y-login-header h3.welcome {
  color: #fff;
  float: left;
  font-size: 15px;
  margin: 23px 0px 0px 10px;  
}

#y-frm-login .frm-title {
}

#y-frm-login .frm-title strong{

}

#y-frm-login .frm-content {
    padding: 10px 0px 25px 90px;
    border-bottom: 1px solid #ddd;
}