#y-content {
    padding: 25px 0px 0px 25px;
    background: #ffffff;
}
#post-detail {
    width: 100%;
    height: 100%;
    position: relative;
}
#post-detail  #post-detail-header {
    position: fixed;
    top: 0px;
    left: 120px;
    right: 0px; 
    padding: 15px 25px 10px 25px;
    cursor: default !important;
    border-bottom: 1px solid #ddd;
    background-color: #f0f0f0;
}
 .post-detail-meta {
    overflow: hidden;
    position: fixed;
    bottom: 50px;
    left: 120px;
    right: 0px;
    text-align: center;
    z-index: 100;
    background-color: #F3F3F3;
    cursor: default !important;
}
#post-detail-header .post-user-time {        
}
.post-user-time a {
    font-weight: bold;
    font-size: 14px;    
}
.post-user-time i {
    font-size: 16px;
    margin-right: 5px;
}
.post-user-time .post-time {
    font-style: italic;
    font-size: 12px;
}
.post-detail-meta .post-actions {    
}
.post-actions li {
    display: inline-block;
    padding: 5px 8px;
}
.post-actions a.btn-link-round  {
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #009B77;
    background-color: #FFF;
    padding: 5px;
    text-align: center;
}
.post-actions a.btn-link-round i {
    color: #009B77;
}
.post-actions a.btn-link-round:hover {
    background-color: #009B77;
}
.post-actions a.btn-link-round:hover i {
    color: #FFF;
}
.post-actions .action-text {
    font-weight: normal;
    font-size: 11px;
    clear: left;
    line-height: 15px;
}
.post-actions .action-text d {
    font-weight: bold;
    font-size: 10px;
}
.post-actions .number-viewer {
    position: relative;
    min-width: 25px;
    margin-top: 3px;
    color: #000;
    border-radius: 2px;    
    border: 1px solid #009B77;
    padding: 0px 2px;
}
.post-actions .number-viewer span {
    position: absolute;
    top: -10px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.post-actions .number-viewer i {
    color: #009B77;
    text-align: center;
    vertical-align: top;
}
.post-detail-meta .post-actions.left {
    position: absolute;
    left: 25px;
    top: 15px;
}
.post-detail-meta .post-actions.right {
    position: absolute;
    right: 25px;
    top: 15px;
}
.post-detail-meta .post-actions.left a.btn-link-round i {
}
.post-actions.left a:hover .action-text,
.post-actions.right a:hover .action-text{
    color: #009B77;
}
.post-detail-meta .post-actions.left .action-text {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    margin-left: 5px;
}
.post-detail-meta .post-actions.right .action-text {
    display: inline-block;
    font-weight: bold;  font-size: 13px;
    margin-right: 5px;
}
.post-detail-meta .post-actions.right a.btn-link-round i {  
}
#post-detail-header .post-title-container {
    clear: both;
}
#post-detail-header .post-title {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#post-content {
    padding: 10px;
    -webkit-column-width: 500px;    
    -moz-column-width: 500px;
    column-width: 500px;
    -moz-column-gap: 35px;    
    -webkit-column-gap: 35px;  
    column-gap: 35px;  
    position: absolute;    
    top: 60px;    
    bottom: 60px;
    left: 0px;  
    text-align: justify;  
    font-size: 15px;
    line-height: 22px;
}
#post-content * {
    line-height: 22px;
}
#post-content p {
    white-space: normal;
    text-align: justify;
}
#post-content img {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    white-space: nowrap;
    max-width: 500px;
    height: auto;
}