#post-detail {
	width: 100%;
	height: 100%;
	position: relative;
}

#post-detail  #post-detail-header {
	position: fixed;
	top: 55px;
	left: 170px;
	right: 20px;	
}

#post-detail-header .group-header {
	margin-bottom: 5px;
}

#post-detail-header .post-metadata {
	overflow: hidden;
	padding-bottom: 0px;
	-webkit-box-shadow: 0px 1px 3px #847e02;
	 -moz-box-shadow: 0px 1px 3px #847e02;
	box-shadow: 0px 1px 3px #847e02;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}

#post-detail-header .post-metadata .avatar-thumb{
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	float: left;
}

#post-detail-header .post-metadata .avatar-thumb img {
	width: 100%;
	height: 100%;
}

#post-detail-header .post-metadata .post-info {
	margin-left: 10px;
	font-weight: bold;
	font-size: 12px;
	padding: 0px;
	text-overflow: ellipsis;
}

#post-detail-header .post-metadata .post-info h4 {
	margin: 0px;
	padding: 3px 3px 3px 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#post-detail-header .post-metadata .post-info .post-user-time span.post-time {
	font-size: 11px;
	font-style: italic;
}

#post-detail-header .post-metadata .post-info .post-user-time  a {
	color: #6CB13C;
}

#post-detail-header .post-metadata .post-info .post-user-time  a:hover {
	color: #000;
}

#post-content {
	padding: 10px;
	-webkit-column-width: 500px;    
    -moz-column-width: 500px;
    column-width: 500px;
    -moz-column-gap: 20px;    
    -webkit-column-gap: 20px;  
    column-gap: 20px;  
    position: absolute;
    top: 90px;
    bottom: 0px;
    left: 0px;  
    text-align: justify;  
}

#post-content p {
	white-space: normal;
	text-align: justify;
}

#post-content img {
	-webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    white-space: nowrap;
    max-width: 500px;
    height: auto;
}
