#y-content {
    padding: 25px 0px 0px 25px;
    background: #ffffff;
}
#post-detail {
    width: 100%;
    height: 100%;
    position: relative;
}
#post-detail  #post-detail-header {
    position: fixed;
    top: 58px;
    left: 15px;
    right: 0px; 
    padding: 10px 25px 5px 75px;
    cursor: default !important;
    border-bottom: 1px solid #ddd;
    background-color: #EBEBEB;
}
.goback-link {
    position: relative;
    z-index: 3;
    float: left;
    padding: 0px;
    width: 24px;
}
.goback-link a {
    display: block;
    padding: 7px;
    width: 20px;
    height: 20px;
    border: 1px solid #009B77;
    border-radius: 50%;
}
.goback-link a:hover {

}
.goback-link a i {
    font-size: 20px;
    color: #0e0e0e;
}
.goback-link a:hover i {
    color: #009B77;
}
.post-user-time a {
    font-weight: bold;
    font-size: 13px;    
}
.post-user-time i {
    font-size: 16px;
    margin-right: 5px;
}
.post-user-time .post-time {
    font-style: italic;
    font-size: 12px;
}
.post-actions li {
    display: inline-block;
    padding: 1px 5px;
}
.post-actions li span.number {
    padding: 1px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
}
.post-actions a.btn-link-round  {
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #009B77;
    background-color: #009B77;
    padding: 5px;
    text-align: center;
}
.post-actions a.btn-link-round i {
    color: #fff;
}
.post-actions a.btn-link-round:hover {
    background-color: #fff;
}
.post-actions a.btn-link-round:hover i {
    color: #000;
}
#post-detail-header .post-title-container {
    clear: both;
}
#post-detail-header .post-title {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    line-height: 35px;
}

#post-content {
    padding: 10px;
    -webkit-column-width: 450px;    
    -moz-column-width: 450px;
    column-width: 450px;
    -moz-column-gap: 35px;    
    -webkit-column-gap: 35px;  
    column-gap: 35px;  
    position: absolute;    
    top: 60px;    
    bottom: 10px;
    left: 0px;  
    text-align: justify;  
    font-size: 15px;
    line-height: 22px;
    width: 1000px;
    overflow-x: auto;
    overflow-y: hidden;
}
#post-content * {
    line-height: 22px;
    display: inline-block;
}
#post-content p {
    white-space: normal;
    text-align: justify;
}
#post-content img {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    white-space: nowrap;
    max-width: 500px;
    height: auto;
}