.category-list {
	line-height: 30px;
	padding: 0px 20px;
	white-space: nowrap;
	overflow: hidden;
}

.category-list  a.btn-category-link {
	margin-left: 10px;
	color: #fff;
	font-size: 12px;
	float: right;
	display: block;
	padding: 2px 8px;
	background-color: #60A63B;
}

.category-list  a.btn-category-link:hover {
	color: #000;
	background-color: #b5ea98;
}

.height-100 {
	height: 100px;
}

.height-200 {
	height: 200px;
}

.height-300 {
	height: 300px;
}

.height-400 {
	height: 400px;
}

.feed-block {
	height: 100%;
	float: left;
	margin-right: 35px;
}

.feed-block .block-header {
	overflow: hidden;
	padding: 3px 10px;
	background: #60A63B;
	margin-bottom: 10px;
}

.feed-block .block-header  a {
	display: block;
	color: #fff;
	font-weight: bold;
}

.feed-block .block-header  a  i {
	color: #fff;
}

.feed-block .block-header  a:hover  i  {
	color: #fff;
}

.feed-block .block-content {
	overflow: hidden;
	height: 100%;
}

.category .block-content .post {
	width: 300px;
}

.category .block-content .post .post_header{
	padding: 2px 3px;
}

.category .block-content .post .post_body {
	max-height: 200px;
	overflow: hidden;
}

.category .block-content .post .post_header .post_user a {
	font-size: 12px;
}

.category .block-content .post .post_body img {
	width: 100%;
}