#y-content {

}

#y-main-content {
	overflow-y: hidden;
}

#profiles-tabs-basic-infor {
	
}

#profiles-tabs-background {

}

#y-content .profiles-tabs {
	float: left;
	margin-right: 15px;
}

#y-content .profiles-tabs-header {
	line-height: 45px;
	border: 1px solid #6db23b;
}

#y-content #profiles-tabs-background .profiles-tabs-header div {
	margin-left: 0px;
}

#y-content .profiles-tabs-title {
	background: #6db23b;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

#y-content .profiles-btn-edit {
	padding: 0px 8px;
	margin-right: 10px;
	float: right;
}

#y-content .profiles-btn-edit i {
	line-height: 28px;
	font-size: 18px;
}

#y-content .profiles-tabs-list {
    -webkit-column-width: 672px;    
    -moz-column-width: 672px;
    column-width: 672px;
    -moz-column-gap: 15px;    
    -webkit-column-gap: 15px;
    column-gap: 15px;
    height: 100%;
}

#y-content .profiles-tabs-list-item { 
	height: auto;
    min-height: 200px;
    display:inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    margin: 0px 0px 25px 0px;
    white-space: nowrap;
}

#y-content .profiles-tabs-list-item-header a:first-child {
	margin-left: 10px;
}

#y-content .profiles-tabs-main {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border: 1px solid #c0c0c0;
	white-space: normal;
	word-wrap:break-word;
}

#y-content #profiles-tabs-background .profiles-tabs-main {
	margin-left: 0px;
}

#y-content .profiles-tabs-list-item-content {
	padding: 10px 20px;
}

#y-content .profiles-tabs-list-item-content p {

}

#y-content .profiles-line {
	border-top: 1px solid #c0c0c0;
	height: 10px;
}

#y-content .profile-tabslist-item-content-item {

}

#y-content .profile-tabslist-item-content-item-label {
	color: #6db23b;
	margin-bottom: 10px;
}

#y-content .profile-tabslist-item-content-item-content {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #c0c0c0;
}