
/*OVERLOAD BOOTSTRAP
.btn
{
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    line-height: 18px;
    padding: 4px 16px;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], .uneditable-input
{
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 16px;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child
{
    -webkit-border-radius: 2px 0px 0px 2px;
    -moz-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input
{
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius:  0px 2px 2px 0px;
    border-radius:  0px 2px 2px 0px;
}

.input-append .add-on, .input-prepend .add-on
{
    font-size:13px;
}

form
{
    margin:0px;
}

label
{
    font-size: 13px;
}

ul
{
    list-style: none;
    margin:0px;
    padding: 0px;
}

END OVERLOAD BOOTSTRAP*/

/*Start Y-CSS*/

/*--------------------------------------------------------------------
    COMMON
----------------------------------------------------------------------
*/
/*OVERWRITE*/
textarea, input[type="text"], input[type="password"] {
    text-align: left;
    vertical-align: middle;
}

/*END*/

.fl{float: left;}
.fr{float: right;}
.clear {clear:both;}
.left { text-align: left;}
.right { text-align: right;}
.center { text-align: center;}

select 
{
    height: 25px;
    width: 180px;
    font-size:14px;
}

body
{
    height: 100%;
    font-size: 14px;
    color: #000;
    width:auto;
}

a,a:visited
{
    color: #111111;
    text-decoration: none;
    border: none;
}

a:hover, a.active
{
    color: #3f981a;
    text-decoration: none;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.y-frm
{
    width: 500px;
    height:auto;
    padding: 15px;
    position: fixed;
    font-size:14px;
    z-index:101;
    display:none;
    background:#fff;
}

.y-frm .frm-title
{
    font-size: 15px;
    font-weight:bold;
    padding:5px 0px 5px 0px;
    border-bottom: 2px solid #2d8806;
}

.y-frm .frm-title strong
{
    color: #2d8806;
    text-shadow: 1px 1px 1px #ddd;
}

.y-frm .frm-content
{
    padding: 15px 0px 5px 0px;
}

.divider-hon{
    -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.1);
    -moz-box-shadow: 1px 0 0 rgba(255,255,255,0.1);
    box-shadow: 1px 0 0 rgba(255,255,255,0.1);
    width: 100%;
    height: 2px;
    padding: 0px;
    margin: 0px;
    background: #000 url(../img/divider_hon_bg.png) repeat top left ;
}

.box-round {
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #3d9915;
}

.current {
    display: block;
}

#overlay 
{
    position:absolute;
    top:0px;
    left:0px;
    z-index:100;
    background-color:#000;
    opacity: 0.1;
    display:none;
    width:100%;
    height:100%;
}

label{
    font-size: 1em;
}

label.in-line{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

a.btn-manual-add{
    display: block;
    height: 26px;
    width: 26px;
    background: transparent url(../img/btn_add.png) no-repeat 0px 0px;
}

/*--------------------------------------------------------------------
    MAIN LAYOUT
----------------------------------------------------------------------
*/
#ascrail2000-hr{
    bottom: 45px !important;
    right: 3px;
}

/*--------------------------------------------------------------------
    HEADER
----------------------------------------------------------------------
*/
#y-header #y-logo a
{
    display: block;
    text-indent: -99999px;
    width: 125px;
    height: 72px;
    background: transparent url(../img/logo.png) no-repeat 50% 50%;
}

/*SIDEAR*/
#y-sidebar .row{
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#y-sidebar .avatar{
    border: 2px solid #ddd;    
    width: 150px;
    height: 180px;
    background: #fff;
    text-align: center;;
    margin: 0px auto;
}
#y-sidebar .avatar img{ 
    height: 90%;
    width: 90%;   
}   
#y-sidebar .username{
    background: #68ae3b;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

#profile-step{   
    text-align: left; 
}
#profile-step .username{
    background: none;
    font-weight: bold;
    color: #fff;
}
#profile-step .welcome-profile{
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

#profile-step ul.steps li{
    height: auto;
    width: 100%;
    padding: 0px 5px 5px 5px;      
}

#profile-step ul.steps li.doing{
    background: #3d9915;
}

#profile-step ul.steps li.divider-hon{
    height: 3px;
    padding: 0px;    
}

#profile-step ul.steps li a{
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    display: block;
    padding-left: 30px;    
    background: transparent url(../img/step-icon.png)  no-repeat 0px 50%;
}

#profile-step ul.steps li a div.step-no{
    font-weight: normal;
}

/*END SIDEBAR*/

/*START CONTENT - REGISTER*/
ul#step-content{

}

ul#step-content li.step-item {
    background: transparent url(../img/outer_bg.png) repeat-x 20px center; 
    background-size: 100% 95%;
    margin-right: 30px;   
    display: none; 
}

ul#step-content li.current{
    display: block;
}

ul#step-content li.step-item div.step-item-container{
    background: #fff;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 30px 10px;
    -moz-box-shadow: 0px 10px 5px #ccc;
    -webkit-box-shadow: 0px 10px 5px #ccc;
    box-shadow: 0px 10px 5px #ccc;
}

div.step-item-container .box-round {
    margin-top: 45px;
}

div.step-item-container .box-round  ul{
    list-style: square;
}

div.box-input-email{
    padding: 20px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #3d9915;
    background-color: #8acd6d;
    margin-bottom: 15px;
}
p.footer-step{
    margin: 15px 0px 10px 0px;
}

/*END*/

/*--------------------------------------------------------------------
    CONTENT
----------------------------------------------------------------------
*/

/*POST NEW*/
#post-new{
    width: 320px;
}

#y-main-content > div
{
    height: 100%;
}

.content-part{
    margin-right: 40px;
    width: auto;
    float: left;
}

.columns{
    -webkit-column-width: 450px;
    -webkit-column-gap: 0px;
    -moz-column-width: 450px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    column-width: 450px;
    height: 100%;
}

.columns .feedItem{
    width: 420px;
    height: auto;
    min-height: 80px;
    background: #ccc;
    display:inline-block;
    margin: 0px 25px 25px 0px !important;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    white-space: nowrap ;
}

.columns  .type1{
    height: 240px;
}

.columns  .type2{
    height: 180px;
}

.columns  .type3{
    height: 140px;
}

/*--------------------------------------------------------------------
    FOOTER
----------------------------------------------------------------------
*/
#y-footer .y-footer-container
{
    padding: 5px 15px 5px 15px;
}

#y-footer .input-append .add-on, .input-prepend .add-on
{
    line-height:15px;
    height:15px;
}

#y-footer a
{    
    font-size: 12px;
    font-weight:bold;
    padding-bottom:2px;
}

#y-footer a:hover
{
    border-bottom:1px solid #3f981a;
}

#y-footer .language-selection
{
    margin-bottom: 5px;
}

#y-footer .links-footer
{
    margin-bottom:10px;
}

#y-footer .footer-help
{
    min-width:300px;
    overflow:hidden;
}

#y-footer .footer-help .help-phone
{
    padding:5px 0px 5px 35px;
    background:transparent url(../img/help-fone.png) no-repeat 0px 50%;
    margin-right:20px;
}

#y-footer .footer-help .help-email
{
    padding:5px 0px 5px 35px;
    background:transparent url(../img/help-email.png) no-repeat 0px 50%;
}

/*End Y-CSS*/