
/*OVERLOAD BOOTSTRAP*/
.btn
{
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    line-height: 18px;
    padding: 4px 16px;
}

.btn i {
    margin-right: 5px;
}

.btn-ystandard {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-ystandard:hover {
    background-position: 0px 0px;
    color: #eee;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], .uneditable-input
{
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 16px;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child
{
    -webkit-border-radius: 2px 0px 0px 2px;
    -moz-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input
{
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius:  0px 2px 2px 0px;
    border-radius:  0px 2px 2px 0px;
}

.input-append .add-on, .input-prepend .add-on
{
    font-size:13px;
}

form
{
    margin:0px;
}

label
{
    font-size: 13px;
}

/*END OVERLOAD BOOTSTRAP*/

/*Start Y-CSS*/

/*--------------------------------------------------------------------
    COMMON
----------------------------------------------------------------------
*/
.fl{float: left;}
.fr{float: right;}
.clear {clear:both;}

select 
{
    height: 25px;
    width: 180px;
    font-size:13px;
}

body
{
    font-size: 13px;
}

a,a:visited
{
    color: #111111;
    text-decoration: none;
    border: none;
}

a:hover, a.active
{
    color: #3f981a;
    text-decoration: none;
}

.warning {
    color: #ea1f00;
    display: block;
    font-size: 12px; 
}

.hidden {
    display: none;
    height: 0px;
}

.y-frm
{
    width: 500px;
    height:auto;
    padding: 15px;
    position: fixed;
    font-size:13px;
    z-index:101;
    display:none;
    background:#fff;
    -webkit-box-shadow: 0px 0px 15px #ddd;
    -moz-box-shadow: 0px 0px 15px #ddd;
    box-shadow: 0px 0px 15px #ddd;
}

.y-frm .frm-title
{
    font-size: 15px;
    font-weight:bold;
    padding:5px 0px 5px 0px;
    border-bottom: 2px solid #2d8806;
}

.y-frm .frm-title strong
{
    color: #2d8806;
    text-shadow: 1px 1px 1px #ddd;
}

.y-frm .frm-content
{
    padding: 15px 10px 5px 10px;
}

#overlay 
{
    position:absolute;
    top:0px;
    left:0px;
    z-index:100;
    background-color:#000;
	opacity: 0.05;
    display:none;
    width:100%;
    height:100%;
}

.outer-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.outer-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.line-shadow {
    box-shadow: 0px 2px 5px #ddd;
    height: 1px;
    background-color: #000;
}

.modal-body {
  max-height: 450px;
  min-height: 55px;
}
.modal-footer {
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 0px;
}
.modal-footer .btn {
  min-width: 90px;
  padding: 4px 10px;
  font-size: 12px;
  outline: none;
}
.modal-header {
  padding: 5px 15px 5px 35px;
  border-bottom: 1px solid #BDBABA;
  background: #FFFFFF url("../image/icon-y.png") no-repeat 10px 46%;
  color: #0e0e0e;
}
.modal-header .close {
  text-shadow: 0px 0px 0px transparent;
}

/*--------------------------------------------------------------------
    MAIN LAYOUT
----------------------------------------------------------------------
*/
#y-container
{
    margin: 0px 0px;
    /*overflow:hidden;*/
}

.y-container
{
    overflow: hidden;
}

.y-sub-container-1
{
    background: #e2e0e0; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e0e0 0%, #ffffff 45%, #ffffff 88%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e0e0), color-stop(45%,#ffffff), color-stop(88%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e0e0 0%,#ffffff 45%,#ffffff 88%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e0e0 0%,#ffffff 45%,#ffffff 88%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e0e0 0%,#ffffff 45%,#ffffff 88%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e0e0 0%,#ffffff 45%,#ffffff 88%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e0e0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#y-header{
    height:70px;
    z-index:1;
    box-shadow: 1px 1px 1px #bdbbbb;
    max-width: 100%;
    background: url('../image/welcome-header-bg.jpg') repeat-x;
}

#y-content
{   
    position: absolute;
    top: 70px;
    bottom: 55px;
    left: 0px;
    right: 0px;
}

#y-footer
{
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 3px solid #000;
    background:#fff;   
    z-index:1; 
	height: 55px;
}

/*--------------------------------------------------------------------
    HEADER
----------------------------------------------------------------------
*/
#y-header #y-logo{
    line-height: 70px;
}

#y-header #y-welcome-menu{
    overflow: hidden;
    text-align: center;
    line-height: 80px;
}

#y-header #y-welcome-menu > div{
    height: 70px;
}

#y-header #y-welcome-menu > div > a{
    color: #fff;
    font-weight:bold;
    font-size:15px; 
}

#y-header #y-welcome-menu > div:hover {
    cursor: pointer;    
    background: #6be436; /* Old browsers */
    background: -moz-linear-gradient(top,  #6be436 0%, #389e0f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6be436), color-stop(100%,#389e0f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6be436 0%,#389e0f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6be436 0%,#389e0f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6be436 0%,#389e0f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6be436 0%,#389e0f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6be436', endColorstr='#389e0f',GradientType=0 ); /* IE6-9 */
}

#y-header #y-welcome-menu > div:hover > a,
#y-header #y-welcome-menu .menu-active > a{
    color: #000;
}

.y-welcome-login  {
    line-height: 70px;
    text-align: right;
}
.y-welcome-login a.btn {
    color: #FFF;
}
.y-welcome-login a.btn i {
    margin-right: 5px;
}
.y-welcome-login a.btn:hover i{
    color: #000;
}

.login-social ul > li {
    display: inline-block;
    margin-left: 7px;
}
.login-social ul > li > a {
    display: block;
    padding: 5px;
    height: 25px;
    width: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
}
.login-social ul > li > a > i{
    color: #ccc;
    font-size: 18px; 
    line-height: 25px;
}
.login-social ul > li > a:hover {
    background-color: #fff;
}
.login-social ul > li > a:hover > i{
    color: #5bb75b;
}

#login-form-container {
    z-index: 10000;
    position: absolute;
    right: 5px;
    background: #1A1919;
    padding: 20px;
}

#login-form-container label {
    display: inline-block;
    color: #fff;
}
#login-form-container a.link-login {
    float: right;
    color: #fff;
    font-weight: bold;  
    font-size: 11px; 
}
#login-form-container a.link-login:hover {
    text-decoration: underline;
}
#login-form-container input.input-welcome {
    height: 25px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#login-form-container span.add-on {
    line-height: 25px;
    height: 25px;
}
#login-form-container .row-fluid {
    padding: 5px 0px;
}
#login-form-container .btn-container {
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding-bottom: 0px;
}

/*--------------------------------------------------------------------
    CONTENT
----------------------------------------------------------------------
*/
#y-content #intro-bg {
    height: 100%;
    margin: 0px auto;
    text-align: center;
    vertical-align: middle;
}

#y-content #intro-bg > img
{
    height: 100%;
    width: auto;   
    cursor: pointer; 
}

#y-frm-register
{
    width:390px;
	top: 75px;
	right: -9990px;
	display: block;
	border: 2px solid #ddd;
	box-shadow: 2px 1px 1px #ddd;
}

#y-frm-register a.close {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

#y-frm-register button  {
    width: 100%;
}

#y-frm-register .controls {
    margin-bottom: 2px;
}

#y-frm-register  select {
    height: 28px;
}

#y-frm-register  select.birthday {
    width: 28%;
}

/*--------------------------------------------------------------------
    FOOTER
----------------------------------------------------------------------
*/
#y-footer .y-footer-container
{
    padding: 5px 0;
}

#y-footer .y-footer-container:nth-child(2){
    text-align: center;
}

#y-footer .input-append .add-on, .input-prepend .add-on
{
    line-height:15px;
    height:15px;
}

#y-footer a
{    
    font-size: 12px;
    font-weight:bold;
    padding-bottom:2px;
}

#y-footer a:hover
{
    border-bottom: 1px solid #3f981a;
}

#y-footer .language-selection
{
    margin-bottom: 3px;
}

#y-footer .links-footer
{
    margin-bottom: 3px;
}

#y-footer .footer-help
{
    min-width:300px;
    overflow:hidden;
}

#y-footer .footer-help > div > i{
    border: 1px solid #34731a;
    border-radius: 25px;
    margin-left: 10px;
}

#y-footer .footer-help .help-phone
{
    padding:5px 0px 5px 35px;
    background:transparent url(../img/help-fone.png) no-repeat 0px 50%;
    margin-right:20px;
}

#y-footer .footer-help .help-email
{
    padding:5px 0px 5px 35px;
    background:transparent url(../img/help-email.png) no-repeat 0px 50%;
}

/* CAPTCHA */
.captcha-row {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
}
.captcha-row #recaptcha_response_field {
    height: 28px;
    padding: 0px 5px;
}
/* RECAPTCHA */

/*End Y-CSS*/