/*================================== START MESSAGE =================================*/
.widget-messages {
	height: 500px;
}
.widget-messages .widget-message-container {
    min-height: 100%;
}
.widget-message-container .message-thread {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
}
.widget-message-container .message-rooms {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 25%;
}

.widget-message-container .active-room-container {
	position: relative;
	height: 100%;
}
.widget-message-container .message-rooms-container {
	position: relative;
	height: 100%;	
}
.widget-message-container .active-room-container .message-list {
	position: absolute;
	left: 0px;
	top: 50px;
	right: 0px;
	bottom: 101px;
	overflow-y: auto;
	overflow-x: hidden;
}
.widget-message-container .active-room-container .message-loading {
	z-index: 100;
	position: absolute;
	top: 50px;
	left: 0;right: 0px;
}
.widget-message-container .active-room-container .new-messsage-container {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-top: 1px solid #B0B0B0;	
}
.widget-message-container .message-rooms-container .room-list {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 83px;
	bottom: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
.message-rooms-container .room-list .room-item {
	border-right: 2px solid #FFF;
}
.message-rooms-container .room-list .room-item.active,
.message-rooms-container .room-list .room-item:hover {
	border-right: 2px solid #25ad9f;
}
.message-list .message-item {
	position: relative;
}
.message-list .message-item.msg-sending {
	opacity: 0.5;	
}
.message-list .message-item .message-status {
	margin-left: 10px;
}

.widget-message-container .mentions-input-box .mentions-autocomplete-list {
	bottom: 100%;
}
.widget-message-container .emotion-overview-list {
	background-color: #fff;
    border: 1px solid #aaa;
    bottom: 30px;
    right: 0px;
    padding: 5px;
    position: absolute;
    width: 250px;
    z-index: 999;
}
.widget-message-container .emoticon:hover {
	background-color: #FFF;
}
.widget-message-container .emotion-overview-list .emoticon:hover {
	background-color: #F0F0F0;
}

/*================================== END MESSAGE =====================================*/